/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016.10.22., 13:51:12
    Author     : Levente
*/

.bodystyle{
    /*background-color: #7ebaba;*/
    background: #ACD4B5;
    padding-top: 50px; 
    padding-bottom: 20px;
}

.header{
    background: #00494c;
}

b:navbar{
    background-color: #00494c;
}

.loginform{
    display: block;
    background: #68BB98; 
    right: 0;
    padding: 5px;
    text-align: right;
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 20;
    background-color: #009399;
    background-color: #00494c;
    height: 50px;
}

.content{
    display: block;
    padding: 0;
    background: #68BB98; 
    background: -webkit-linear-gradient(#68BB98,#ACD4B5);
    background: -o-linear-gradient(#68BB98,#ACD4B5); 
    background: -moz-linear-gradient(#68BB98,#ACD4B5); 
    background: linear-gradient(#68BB98,#ACD4B5);
    width: 100%;    
    height: 100%;
}

.navbar{
    background-color: #00494c;
}

.carousel{
    margin: auto;
    margin-top: 30px;
}

.carouselitem{
    display: block;
    margin: auto;
}

.slideimg{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-height: 400px;
}

#slide{
    text-align: center;
}

.panel{
    width: 90%;
    margin: auto;
}

.menulink{
    display: inline-block;
    vertical-align: middle;
    font-size: large;
    color: white;
}

.menulink:hover{
    color: #68BB98;
}

.menulink:visited{
    color: white;
}

h1{
    text-align: center;
}